## Student Name: Rocco Fernando Gadista
## Student ID: 219714732

Requirements

## 1. Problem Understanding - Describe the problem your system solves.
System purpose: The system shall recommend available meeting slots within a defined working hours time window to users.
Inputs to the system: day, working_hours, busy_intervals, duration, n, buffer, candidate_window
Outputs produced by the system: List of Slot objects and TimeWindows.
Primary goal of the system: Return a chronologically ordered list of n appointment slots that satisfy all constraints.

## 2. Assumptions - List assumptions about the environment, users, or inputs.
A1: n >= 0
A2: duration > 0
A3: buffer >= 0
A4: List of busy time intervals may be overlapping or unsorted.
A5: For working hours, the start time will always be less than the end time.
A6: The day given will not be a day where the company will have no working hours such as a holiday.

## 3. Functional Requirements - Describe the main behaviors the system must perform. (Listed are the ones only derived for this lab)
FR1: If no slots are available within the working hours due to the busy intervals provided, the system will let the user know that there are no available slots in the given working hours because of the busy intervals.
FR2: If no slots are available within the working hours because of the buffer time given, then the system will let the user know that there are no available slots in the given working hours due to the buffer time.
FR3: If no slots are available due to not fitting in the candidate window provided, then the system will let the user know that there are no available slots in the given candidate window.
FR4: The system shall have a summary page that shows the user all available time slots in chronological order on the specific day, the time-hour format each slot is in, and the slot granularity.
FR5: The system shall merge consecutive available time slots from the curated available slots list for the summary page.
FR6: The system shall throw an error if duration is larger than the working hours.

## 4. System Constraints - Constraints are conditions the system must always respect. Each constraint should reference the persona attribute it originates from.
C1: The system must output an empty list of slots when no slots are available.
Derived from persona attribute: Jane Adams

C2: The system must be deterministic.
Derived from persona attribute: Jane Adams

C3: The system will merge consecutive available slot start times that occur in sequential time increments (slot granularity) into a TimeWindow. If they don't occur consecutively, they will not be merged and be kept as a Slot.
Derived from persona attribute: Jane Adams

C4: The system will output a print summary that will provide the day, slot time granularity, and time hour format (24-hour) alongside the list of appointment slots.
Derived from persona attribute: Moe Rodriguez

C5: The system will provide an error message towards the user when raising an InfeasibleSchedule type error.
Derived from persona attribute: Moe Rodriguez

C6: The system will produce a message stating that "The combination of the duration, busy intervals and the buffer time prevents a slot to be available within the provided working hours" when outputting an empty list due to the fact that the combination of the duration, busy intervals and the buffer time prevent a slot to be available within the provided working hours.
Derived from persona attribute: Moe Rodriguez

C7: The system will produce a message stating that "The combination of the duration and busy intervals prevents a slot to be available within the provided working hours" when outputting an empty list due to the fact that the combination of the busy intervals and the duration prevent a slot to be available within the provided working hours.
Derived from persona attribute: Moe Rodriguez

C8: The system will produce a message stating that "The combination of the duration, busy intervals and the candidate window prevents a slot to be available within the provided working hours" when outputting an empty list due to the fact that the combination of the duration, busy intervals and the candidate window prevent a slot to be available within the provided working hours.
Derived from persona attribute: Moe Rodriguez

## 5. Acceptance Criteria - Acceptance criteria define how system behavior will be verified.
AC1:
Given the user enters a list of busy intervals that prevents a slot to be available within the working hours,
When the system returns the list of slots,
Then the list of appointment slots should be empty.
Linked Constraint ID: C1

AC2:
Given the user enters the same exact inputs in consecutive sessions.
When the system outputs,
Then all outputs should be exactly across all sessions.
Linked Constraint ID: C2

AC3:
Given that the appointment slots are adjacent to each other,
When the system is going to return the list of slots,
Then the system should merge all adjacent appointment slots in a TimeWindow before returning the list of slots.
Linked Constraint ID: C3

AC4:
Given the user enters a set of inputs that provides a list of available appointment slots,
When the system returns the list of slots,
Then the system should print a summary of information that includes the day, slot time granularity, 24 time-hour format, and the list of available start times (Slots) and time windows (Merged consecutive Slots).
Linked Constraint ID: C4

AC5:
Given the user enters a candidate time window that contradicts with the working hours provided,
When the system throws an InfeasibleSchedule error,
Then the system should also provide an error message stating that the "Candidate window conflicts with working hours."
Linked Constraint ID: C5

AC6:
Given the user enters a combination of a list of busy intervals with the duration, and a buffer time that prevents a slot to be available within the working hours provided,
When the system returns the list of slots,
Then the system will display a message stating that "The combination of the duration, busy intervals and the buffer time prevents a slot to be available within the provided working hours."
Linked Constraint ID: C6

AC7:
Given the user enters a list of busy intervals with the duration that prevents a slot to be available within the working hours provided,
When the system returns the list of slots,
Then the system will display a message stating that "The combination of the duration and busy intervals prevents a slot to be available within the provided working hours."
Linked Constraint ID: C7

AC8:
Given the user enters a combination of a list of busy intervals with the duration, and a candidate window that prevents a slot to be available within the working hours provided,
When the system returns the list of slots,
Then the system will display a message stating that "The combination of the duration, busy intervals and the candidate window prevents a slot to be available within the provided working hours."
Linked Constraint ID: C8

## 6. Edge Cases - Describe unusual or boundary situations the system must handle.
EC1:
Description: Identical non-conflicting inputs for consecutive sessions.
Linked Constraint ID(s): C2

Covered by Acceptance Criteria ID(s): AC2

EC2:
Description: Identical conflicting inputs for consecutive sessions.
Linked Constraint ID(s): C2
Covered by Acceptance Criteria ID(s): AC2

EC3:
Description: Zero available slots.
Linked Constraint ID(s): C1
Covered by Acceptance Criteria ID(s): AC1

EC4:
Description: Available slots exist.
Linked Constraint ID(s): C3, C4
Covered by Acceptance Criteria ID(s): C3, AC4

EC5:
Description: Available slots happen consecutively to each other.
Linked Constraint ID(s): C3
Covered by Acceptance Criteria ID(s): AC3

EC6:
Description: Available slots do not happen consecutively to each other.
Linked Constraint ID(s): C3
Covered by Acceptance Criteria ID(s): AC3

EC7: 
Description: Combination of inputs result in unavailability of slots.
Linked Constraint ID(s): C6, C7, C8
Covered by Acceptance Criteria ID(s): AC6, AC7, AC8

EC8: 
Description: Candidate window does not happen within the working hours.
Linked Constraint ID(s): C5
Covered by Acceptance Criteria ID(s): AC5

EC9: 
Description: Duration Larger than working hours.
Linked Constraint ID(s): C5
Covered by Acceptance Criteria ID(s): N/A

## 7. Traceability - Link functional requirements to constraints and acceptance criteria.
FR7(From Lab8), Jane Persona -> C1 -> AC1
FR7(From Lab8), System Description(From Lab8), Jane Persona -> C2 -> AC2
FR5, Jane Persona -> C3 -> AC3
FR7(From Lab8), Moe Persona -> C4 -> AC4
FR10(From Lab8), FR5, Moe Persona -> C5 -> AC5
FR1, Moe Persona -> C6 -> AC6
FR2, Moe Persona -> C7 -> AC7
FR3, Moe Persona -> C8 -> AC8

Revison Note 1:

Requirement Updated: AC8
Reason: There was a typo in the message to be displayed.
Action: Fixed the message to be displayed be with the candidate window.

Revison Note 2:

Requirement Updated: C3
Reason: Adajcent slot is very ambigous as adjacent can be interpreted in multiple ways according to GPT.
Action: Defined adjacency based on suggestion of GPT.

Revison Note 3:

Requirement Updated: C4
Reason: GPT pointed out how the time format was not defined.
Action: Defined the time format.

Revison Note 4:

Requirement Added: EC9
Reason: GPT pointed out what the system should do if the duration is larger than its working hours.
Action: Added the new edge case.

Revison Note 5:

Requirement Added: FR5
Reason: This is to help deal with the newly added edge case.
Action: Explicity defined what the system should do if the duartion is larger than the working hours.

Revison Note 6:

Requirement Edited: C3
Reason: Wanted to be explict that the system would only merge the Slots into a TimeWindow only if they are consecutive.
Action: Explicity defined that the system would only merge the Slots into a TimeWindow only if they consecutively happen.

Revison Note 7:

Requirement Edited: FR4
Reason: Wanted to distingiush that the system merges consecutive available time slots soley for the summary page, not for the outputted slots list.
Action: Added a new system behaviour that allows the system to display a summary page.

Revison Note 8:

Requirement Edited: FR5
Reason: Wanted the definition of adjacency to be explicit. Also wanted to distingiush that the system merges consecutive available time slots solely for the summary page.
Action: Redid FR4 and made the old FR4 to FR5 with the adjacency definition as well as merging is solely for the summary page. Also, edited the traceability to reflect the new change.

Revison Note 9:

Requirement Added: FR6
Reason: To compensate for the new change I made in Revision Note 8.
Action: Made the original FR5 to FR6.

Revison Note 10:

Requirements Edited: EC5, EC6
Reason: Wanted the definition of adjacency to be explicit. 
Action: Defined adjacency by explicitng saying consectively.

Revison Note 11:

Requirements Edited: AC4
Reason: Wanted to be more clear about the summary page and that is seperate from the output list.
Action: Edited AC4 to be more clear about the summary page.

Revison Note 12:

Requirements Edited: FR4
Reason: The previous written requirement was very vague.
Action: Added more detail on what the summary page will display.